{% extends "berlin.lod.basetheme/base.html.jinja" %}

{% set type_icon = 'file-earmark-text' %}

{% block content %}
<div id="imprint_verantw" class="imprint-block">
    <h3>Impressum</h3>
    <address>
        Open Knowledge Foundation Deutschland e.V.<br>
        Singerstr. 109<br>
        D-10179 Berlin<br>
    </address>
    <p>
        Projekt: <a href="https://okfn.de/projekte/opendata/">Offene Verwaltungsdaten</a><br>
        E-Mail: <a href="mailto:opendata@okfn.de">opendata@okfn.de</a><br>
        Vereinsregister-Nr.: VR 30468 B<br>
        Umsatzsteuernummer: DE278022128<br>
        Registergericht: Amtsgericht Charlottenburg<br>
        Vertretungsberechtigter Vorstand: Elina Eickstädt, Lea Gimpel, Stefan Heumann, Kristina Klein, Gabriele C. Klug, Fiona Krakenbürger, Felix Reda.<br>
        Datenschutzerklärung: <a href="https://okfn.de/datenschutz/">https://okfn.de/datenschutz/</a><br>
    </p>
</div>
{% endblock content %}
